@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* .counter--app {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: skyblue;
  margin-top: 100px;
  align-items: center;
  
  padding: 20px;
  border-radius: 20px;
  margin-inline: auto;
  gap: 20px;
}

.counter {
  display: flex;
  align-items: center;

  justify-content: center;

  font-size: 24px;
}

button {
  border-radius: 100%;
  border: none;
  align-self: flex-end;
  padding: 30px;
}

button:hover {
  background-color: blue;
  color: white;
}

.btn-1 {
  margin-right: -20px;
  
}

.count {
  padding: 70px;
  background-color: white;
  border-radius: 100%;
}

.btn-2 {
  margin-left: -20px;
}

.reset {
  
  border: 2px solid white;
  background-color: inherit;
  color: black;
  border-radius: 20px;
  height: 50px;
  padding: 10px;
  width: 100px;
  align-self: center;
}

.reset:hover {
  background-color: inherit;
  border: 2px solid black;
  color: black;
}  */
